@font-face {
    font-family: 'Oswald';
    src: url('./fonts/Oswald.ttf') format('truetype'); 
    font-weight: 200 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./fonts/DMSans.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./fonts/DMSans_Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --light:#fbfaf1;
    --dark:#1A1A1A;
    --accent:#e31936;

    --background-color:var(--light);
    --foreground-color:var(--dark);

    --font-bold:'Oswald', Helvetica, Arial, sans-serif;
    --font-sans-serif:'DM Sans', Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans-serif), Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 30px;
    background-color: var(--background-color);
}

h1 {
    color: var(--accent);
    font-family: var(--font-bold);
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.input-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--accent);
    border-radius: 5px;
}

button {
    background-color: var(--accent); 
    color: var(--light); 
    font-family: var(--font-sans-serif);
    font-size: 16px;
    padding: 10px 20px;
    border: none; 
    border-radius: 12px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

button:hover {
    transform: scale(1.1);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    justify-content: center;
    margin: 1rem auto;
    max-width: 1000px;
}

.grid-container img {
    cursor: pointer;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.description-box {
    background-color: var(--accent);
    color: var(--light);
    padding: 20px;
    border-radius: 8px;
    margin-top: 1.5rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.description-box h2 {
    font-family: var(--font-bold);
    margin-bottom: 10px;
    color: var(--light);
    font-size: 22px;
    text-transform: uppercase;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--light);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin: auto;
}

.modal-content p {
    margin-bottom: 20px;
}

.button-help {
    background-color: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
    font-family: var(--font-sans-serif);
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.button-close {
    background-color: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
    font-family: var(--font-sans-serif);
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


